.movie-cards {
  margin-bottom: 30px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

.movie-poster {
  border-radius: 5px;
}

h3 {
  display: flex;
  justify-content: center;
  background-color: #2e2d2d;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 7px;
}